@nspk:registry=https://msk1-cnex001.unix.nspk.ru/repository/darpo-npm-releases/
registry=https://msk1-cnex001.unix.nspk.ru/repository/npm-proxy-group/
sass_binary_site=https://msk1-cnex001.unix.nspk.ru/repository/node-sass-binary/
@nspk-snapshots:registry=https://nexus.mir/repository/darpo-npm-snapshots/
@ds:registry=https://nexus.mir/repository/designsystem-npm-releases/
strict-ssl=false
